<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.meubizu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.VisualizarAgendamento"></activity>
        <activity android:name=".view.AjudaActivity" />
        <activity
            android:name=".view.MateriaActivity"
            android:theme="@style/FullScreenWithTopBar" />
        <activity
            android:name=".view.AcontecimentoAgendaActivity"
            android:parentActivityName=".view.AgendaActivity" />
        <activity android:name=".view.RascunhosActivity" />
        <activity
            android:name=".view.AgendaActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.TelaAberturaActivity"
            android:theme="@style/FullScreenWithoutTopBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.AdicionarComentarioActivity" />
        <activity android:name=".view.ListaComentariosActivity" />
        <activity android:name=".view.FormularioActivity" />
        <activity
            android:name=".view.DireitosAutoraisActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.CronogramaActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.RascunhoActivity" />

        <receiver android:name=".view.InicioActivityBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

    <dist:module dist:instant="true" />

</manifest>